In [1]:
import numpy as np
import pandas as pd

np.random.seed(0)
#display(np.random.randint(50,100,1000))

data = pd.DataFrame({'Điểm thi':np.random.randint(50,100,1000)})
#display(data)

In [2]:
data['Giới tính'] = np.where(np.random.rand(1000) > 0.5, 'Nam', 'Nữ')
#display(data)
# Lấy mẫu phân tầng (25 sinh viên mỗi giới tính)
sample_stratified = data.groupby('Giới tính', group_keys=False).apply(lambda x: x.sample(25),include_groups=False)
#display(sample_stratified)
#print("Mẫu phân tầng với 25 sinh viên mỗi giới tính:\n", sample_stratified.head())

In [ ]:
df = pd.read_csv('D:/SourceCode/Python/AI-Engineer-Demo/data/Salary_with_genders.csv')

#======================================================================
# Phương pháp 1: Sử dụng groupby().mean() (Phổ biến nhất)
#======================================================================
# chuyển cột Salary (vd. "$166,400.00") sang float và lưu vào cột float_Salary
df['str_Salary'] = df['Salary']
display(df.head())
df['Salary'] = df['Salary'].str.replace(r'[\$,]', '', regex=True).astype(float)
display(df.head())
print("--- Phương pháp 1: groupby().mean() ---")
avg_salary_groupby = df.groupby('Gender')['Salary'].mean()

# Định dạng kết quả cho dễ đọc (làm tròn 2 chữ số thập phân và có dấu phẩy)
formatted_avg_salary = avg_salary_groupby.map('{:,.2f}'.format)

print("Lương trung bình của 2 giới:")
print(formatted_avg_salary)
print("\n" + "="*50 + "\n")

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\phuongtht\AppData\Local\Temp\ipykernel_30468\690088303.py:1: SyntaxWarning: invalid escape sequence '\S'
  df = pd.read_csv('D:\SourceCode\Python\AI-Engineer-Demo\data\Salary_with_genders.csv')

,Surname,Name,Age,Gender,Country,Ethnicity,Start_date,Department,Position,Salary,str_Salary
0,Bold,Caroline,63,Female,United States,White,7/2/2012,Executive Office,President & CEO,"$166,400.00","$166,400.00"
1,Zamora,Jennifer,38,Female,United States,White,4/10/2010,IT/IS,CIO,"$135,200.00","$135,200.00"
2,Houlihan,Debra,51,Female,United States,White,5/5/2014,Sales,Director of Sales,"$124,800.00","$124,800.00"
3,Bramante,Elisa,34,Female,United States,Black or African American,1/5/2009,Production,Director of Operations,"$124,800.00","$124,800.00"
4,Del Bosque,Keyla,38,Female,United States,Black or African American,1/9/2012,Software Engineering,Software Engineer,"$118,809.60","$118,809.60"

,Surname,Name,Age,Gender,Country,Ethnicity,Start_date,Department,Position,Salary,str_Salary
0,Bold,Caroline,63,Female,United States,White,7/2/2012,Executive Office,President & CEO,166400.0,"$166,400.00"
1,Zamora,Jennifer,38,Female,United States,White,4/10/2010,IT/IS,CIO,135200.0,"$135,200.00"
2,Houlihan,Debra,51,Female,United States,White,5/5/2014,Sales,Director of Sales,124800.0,"$124,800.00"
3,Bramante,Elisa,34,Female,United States,Black or African American,1/5/2009,Production,Director of Operations,124800.0,"$124,800.00"
4,Del Bosque,Keyla,38,Female,United States,Black or African American,1/9/2012,Software Engineering,Software Engineer,118809.6,"$118,809.60"

--- Phương pháp 1: groupby().mean() ---
Lương trung bình của 2 giới:
Gender
Female    65,736.91
Male      72,300.53
Name: Salary, dtype: object

==================================================

In [ ]:
### lay mua ngau nhien va tinh ti le gioi tinh trong mau
sample_size = [10,20,50,100]    
for size in sample_size:
    simple_radom = df.sample(n=size, random_state=1)    
    # Tính tỉ lệ của mỗi giới tính trong mẫu
    # normalize=True sẽ trả về tỉ lệ thay vì số đếm
    gender_proportion = simple_radom['Gender'].value_counts(normalize=True)    
    #display(gender_proportion)
    # In kết quả tỉ lệ
    print(f"size {size} >>> Tỉ lệ giới tính trong mẫu:")
    print(gender_proportion)
    print("\n") # Thêm một dòng trống để dễ đọc

In [ ]:
### lay mau phan tang va tinh ti le luong tung gioi tinh tren tong luong
sample_size = [10,20,50,100]
for size in sample_size:
    # Lấy mẫu phân tầng: lấy tối đa `size` hàng trên mỗi giới tính.
    # Nếu một nhóm có ít hàng hơn `size`, ta lấy tất cả (tránh ValueError).
    stratified_random = df.groupby('Gender', group_keys=False).apply(lambda x: x.sample(n=min(len(x), size), random_state=1))
    display(stratified_random)
    # Tính tỉ lệ của mỗi giới tính trong mẫu (normalize=True trả về tỉ lệ)
    gender_proportion = stratified_random['Gender'].value_counts(normalize=True)
    display(gender_proportion)
    # In kết quả tỉ lệ
    print(f"size {size} >>> Tỉ lệ giới tính trong mẫu:")
    print("\n") # Thêm một dòng trống để dễ đọc