In [1]:
import numpy as np
import pandas as pd

np.random.seed(0)
data = pd.DataFrame({'Điểm thi':np.random.randint(50,100,1000)})
display(data)

     Điểm thi
0          94
1          97
2          50
3          53
4          53
..        ...
995        87
996        91
997        67
998        66
999        98

[1000 rows x 1 columns]